@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

body {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: small;
    color: white;
    background-image: url(../images/decors-jeu-combat-106.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.combats {
    height: 100%;
}

.HIDDEN {

    display: none;
}

#hero {
    z-index: 2;
    width : 400px;
    height : 400px;
    filter: drop-shadow(5px 5px 30px rgb(10, 234, 47));
}


#mechant_combat {

    width : 400px;
    height : 400px;
    filter: drop-shadow(5px 5px 30px rgb(255, 23, 23));
}

 /* ANIMATION BOULE DE FEU */

 .fireBallfilter {
     
     filter: invert(100%);
 }

.fireBallHidden {

    display: none;
}

.fireBall {

    top: 250px;
    right: 550px;
    position: absolute;
    animation-name: drive, turn;
    animation-duration: 1.4s;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes drive {
    0%{
     right: 18%;
    }
  
    99%{ 
      right: 70%;
    }
    100%{
        right: 16%;
    }
}

@keyframes turn {
    0%{
        rotate: 10turn;
    }
    100%{
        rotate: 50turn;
    }
}


/* ANIMATION COUP DE POING */


.shurikenfilter {
    filter: invert(100%);
}

.shurikenHidden {

   display: none;
}

.shuriken {

   z-index: 3;
   top:270px;
   left: 290px;
   position: absolute;
   animation-name: ok, turn;
   animation-duration: 1.5s;
   animation-direction: normal;
   /* animation-fill-mode: backwards; */
   animation-delay: 1.5s;
   animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
   /* animation-iteration-count: 1; */
}


#fight-monster {

color:#188396;
font-size: 1.5rem;
}

#fight-hero {

    font-family: 'VT323', monospace;
    color:rgb(24, 131, 150);
    font-size: 2rem;
    }

@keyframes ok {
   0%{
    left: 18%;
   }
 
   90%{ 
     left: 70%;
   }
   100%{
       left: 18%;
   }
}

@keyframes turn {
    0%{
        rotate: 10turn;
    }
    100%{
        rotate: 50turn;
    }
}



#fight {
    background-image: url(../images/bouton_punch.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: transparent;
    position: absolute;
    border: none;

}

#fight:hover{
    background-image: url(../images/bouton_punch_2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: absolute;
}

.bouttonretour{

text-align: center;    

}


.bntFIN {

    margin-top: 250px;
}

