
body {
background-size: cover;
background-image: url(../images/decors-jeu-combat-124.gif);
background-repeat: no-repeat;
height: 100vh;
width: 100vw;
}

#bloc_selection {
    background-color: rgba(242, 135, 5, 0.247);   
    border: 2px solid;
    border-radius: 5px;
}

#deadpool {
   width : 300px;
   height : 300px;
}



#ironman {
    width : 400px;
    height : 400px;
}


input[type="radio"]{
    display: none;
    
}
input[type="radio"] + img{
    filter: brightness(40%);
    
    
}
input[type="radio"]:checked + img {
    filter: brightness(100%);
    filter: drop-shadow(5px 5px 60px rgb(255, 191, 0));
}


#tanos {
    width : 300px;
    height : 300px;
}


#bowser {

    width : 300px;
    height : 300px;
}



.hidden {
    display: none;
}

* {
    cursor:url(../images/epe-removebg-preview.png), auto;
}

#bouton_choose {
    background-image: url(../images/bouton1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: transparent;
    position: absolute;
    border: none;

}

#bouton_choose:hover{
    background-image: url(../images/bouton2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: absolute;
}

